@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --montserrat: "Montserrat", sans-serif;
  --roboto: "Roboto", sans-serif;
  --cardo: "Cardo", serif;
  --poiret: "Poiret One", cursive;
  --inconsolata: "Inconsolata", monospace;

  --black: #000;
  --white: #f7f7f7;
}

html {
  scroll-behavior: smooth;
}

textarea {
  resize: none;
  font-family: var(--montserrat);
}

input {
  font-family: var(--montserrat);
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--white) inset !important;
  box-shadow: 0 0 0px 1000px var(--white) inset !important;
  -webkit-text-fill-color: var(--black) !important;
  transition: background-color 5000s ease-in-out 0s;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--roboto);
  font-weight: bold;
}

a,
li {
  text-decoration: none;
  font-family: var(--montserrat);
}

label {
  font-family: var(--roboto);
  font-weight: 500;
}

p {
  font-family: var(--inconsolata);
  font-weight: 400;
}

strong {
  font-family: var(--roboto);
  font-weight: 500;
}

::placeholder {
  font-family: var(--montserrat);
  font-weight: 400;
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

/* Tüm sayfa için scroll bar gizle */
html,
body {
  overflow: auto; /* scroll çalışsın */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
